table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#counter {
    font-size: 10em;
    margin-bottom: 20px;
}

#btn {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(96, 96, 255) ; 
}